.dashbord-list{
    border-right: 1px solid rgb(241, 131, 5);
    /* border-top: 1px solid gray; */
    height: 600px;
    background-color: #066659;
    padding-left: 5px;

    
}

.dashbord-fild{
    margin: 5px 27px;
}
.dashboard-menu{

    list-style: none;
    text-align: start;
    font-size: 25px;
    margin-bottom: 14px;
    font-family: serif;
    color: black;
}

.dashboard-menu:hover{
    color: #ac09ef;
}

.log-out-btn{
    border: none;
    color: #a907eb;
    border-radius: 6px;
    background-color: #f1f1f1;
}