.dashbord-list{
    height: 1463px;
    background-color: #2D2F3E;
    padding-left: 20px

    
}

.dashbord-fild{
    margin: 5px 27px;
}
.dashboard-menu{

    list-style: none;
    text-align: start;
    font-size: 25px;
    margin-bottom: 14px;
    font-family: serif;
    color: whitesmoke;
}

.dashboard-menu:hover{
    color: #ac09ef;
}

.log-out-btn{
    border: none;
    color: #a907eb;
    border-radius: 6px;
    background-color: #f1f1f1;
}

.dash-user{
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 23px;
    font-size: 18px;
    font-family: monospace;
    flex-direction: column;
    margin-bottom: 28px;
}
.user-icon{
    color: #f2f2f2;
    font-size: 47px;
}