.card-fild-image{
    height: 200px;
}


.card-fild{
    height: 620px;
    margin-top: 42px;
}

.text{
    color: #040404;
    text-align: center;
    font-family: initial;
    padding: 10px;
}


.bay-btn{
    background-color: #cf7a09;
    border: none;
    font-family: emoji;
    font-weight: bolder;
    font-size: 19px;
    color: black;
}