.from-fild input{
    width: 320px;
    margin-bottom: 8px;
}

.email-fild{
    width: 558px;
}


.comment{
    width: 558px;
    height: 130px;
}

.submit{
    color: #e101d0;
    background-color: #1e9ca9;
    font-size: 28px;
    font-weight: 700;
    border-radius: 10px;
    font-family: ui-monospace;
}

.comment-fild{
  margin: 20px;
}
.reviw{
    text-align: center;
    font-family: monospace;
    color: #f909fd;
    font-weight: bolder;
}

.review-cmt{
    color: #0c0c0c;
    margin: 0px;
    font-family: none;
    font-size: 21px;
    letter-spacing: 5px;
    font-weight: 700;

}