.paragraph{
    color: #8110f3;
    margin: 0px;
    margin-left: 11px;
    font-family: serif;
}


.order{

    color: rebeccapurple;
    margin-top: 33px;
    font-size: 46px;
    font-family: ui-serif;
    margin-bottom: 0px;
    text-align: center;
}